@import "tailwindcss";
@import "tailwindcss";

/* no scrollbar use in homeScreen page */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}